<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
	bootstrap="./tests/bootstrap.php" verbose="true" colors="true" stopOnError="true" stopOnFailure="true">
	<!-- cacheTokens="false" -->
	<!-- forceCoversAnnotation="false" -->
	<!-- mapTestClassNameToCoveredClassName="false" -->
	<!-- printerClass="PHPUnit_TextUI_ResultPrinter" -->
	<!-- printerFile="/path/to/ResultPrinter.php" -->
	<!-- testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader" -->
	<!-- testSuiteLoaderFile="/path/to/StandardTestSuiteLoader.php" -->
	<!-- backupGlobals="false" -->
	<!-- backupStaticAttributes="false" -->
	<!-- convertErrorsToExceptions="true" -->
	<!-- convertNoticesToExceptions="true" -->
	<!-- convertWarningsToExceptions="true" -->
	<!-- processIsolation="false" -->
	
	<!-- stopOnError="false" -->
	<!-- stopOnFailure="false" -->
	<!-- stopOnIncomplete="false" -->
	
	<!-- stopOnSkipped="false" -->
	<!-- stopOnRisky="false" -->
	<!-- timeoutForSmallTests="1" -->
	<!-- timeoutForMediumTests="10" -->
	<!-- timeoutForLargeTests="60" -->

	<testsuites>
<!-- 		<testsuite name="Presenze Api"> -->
<!-- 		<file>./tests/Presenze/Tests/Api/PresenzeApiTest.php</file> -->
<!-- 		</testsuite> -->
		<testsuite name="Presenze App">
			<file>./tests/Presenze/Tests/E2e/PresenzeTest.php</file>
		</testsuite>		
		<!-- <testsuite name="All Tests"> -->
		<!-- <directory suffix=".php">./tests/</directory> -->
		<!-- </testsuite> -->
	</testsuites>

	<php>
		<!-- Specify the path to a service configuration file -->
		<!-- <server name="CONFIG" value="test_services.json" /> -->
		<!-- Or, specify each require parameter individually -->
		<!-- <server name="GITHUB_USER" value="" /> -->
		<!-- You can then extract the server variables in your bootstrap.php file 
			by grabbing them from the $_SERVER superglobal: $apiUser = $_SERVER['API_USER']; -->
	</php>

	<!-- Including and Excluding Files for Code Coverage -->
	<!-- The <filter> element and its children can be used to configure the 
		blacklist and whitelist for the code coverage reporting. -->
	<!-- <filter> -->
	<!-- <blacklist> -->
	<!-- <directory suffix=".php">/path/to/files</directory> -->
	<!-- <file>/path/to/file</file> -->
	<!-- <exclude> -->
	<!-- <directory suffix=".php">/path/to/files</directory> -->
	<!-- <file>/path/to/file</file> -->
	<!-- </exclude> -->
	<!-- </blacklist> -->
	<!-- <whitelist processUncoveredFilesFromWhitelist="true"> -->
	<!-- <directory suffix=".php">/path/to/files</directory> -->
	<!-- <file>/path/to/file</file> -->
	<!-- <exclude> -->
	<!-- <directory suffix=".php">/path/to/files</directory> -->
	<!-- <file>/path/to/file</file> -->
	<!-- </exclude> -->
	<!-- </whitelist> -->
	<!-- </filter> -->
</phpunit>
